{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
  <h1 class="history">Transaction history</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Data</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for dict in stocks %}
    <tr>
      <td>{{dict["stock"]}}</td>
      <td>{{dict["shares"]}}</td>
      <td>{{dict["price"]}}</td>
      <td>{{dict["date"]}}</td>
      <td>{{dict["time"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}